## TOPIC: String Based Assignment Problem

In [4]:
"""1. Write a program to reverse a string."""

s1 = "Shubham"
s1_r = s1[::-1]
print("reverse of", s1,"is",s1_r)

reverse of Shubham is mahbuhS

In [5]:
"""2. Check if a string is a palindrome."""

s2 = "radar"
s2_r = s2[::-1]

if s2 == s2_r:
    print("The string is palindrome")
else:
    print("The string is not palindrome")

The string is palindrome

In [7]:
"""3. Convert a string to uppercase."""

s3 = "Shubhendu"
s3_u = s3.upper()

print("the uppercase of", s3,"is",s3_u)

the uppercase of Shubhendu is SHUBHENDU

In [8]:
"""4. Convert a string to lowercase."""

s4 = "ShuBheNdu"
s4_l = s4.lower()

print("the lowercase of", s4,"is",s4_l)

the lowercase of ShuBheNdu is shubhendu

In [22]:
"""5. Count the number of vowels in a string.."""

s5 = "Hello Sir How Are You"
s5_l = s5.lower()
v = ['a','e','i','o','u']

count = 0

for i in s5_l:
    if i in v:
        count+=1

print("number of vowels in sentence =", count)

number of vowels in sentence = 8

In [23]:
"""6. Count the number of consonants in a string."""

s6 = "Hello Sir How Are You"
s6_l = s6.lower()
v = ['a','e','i','o','u']

count = 0

for i in s6_l:
    if i not in v:
        count+=1

print("number of consonants in sentence =", count)

number of consonants in sentence = 13

In [25]:
"""7. Remove all whitespaces from a string."""

s7 = "    Hello sir  how  are you  "
s7_s = s7.replace(" ","")
print("the string after removing spaces is\n",s7_s)

the string after removing spaces is
 Hellosirhowareyou

In [26]:
"""8. Find the length of a string without using the `len()` function."""

s8 = "Hello sir how are you"
count =0
for i in s8:
    count+=1
print("the lenght of string is\n",count)

the lenght of string is
 21

In [30]:
"""9. Check if a string contains a specific word."""

s9 = input("Enter the string")
word = input("Enter specific word")

if word in s9:
    print("the word-",word, "is present in-",s9)
else:
    print("the word-",word, "is not present in-",s9)

Enter the stringhello sir how are you
Enter specific wordsir
the word- sir is present in- hello sir how are you

In [31]:
"""10. Replace a word in a string with another word."""

s10 = input("Enter the string")

word1 = input("Enter the word which to be replace")
word2 = input("Enter new word")

s10_r = s10.replace(word1,word2)

print("the modified sentence is\n",s10_r)

Enter the stringhello sir how are you
Enter the word which to be replacesir
Enter new wordprofessor
the modified sentence is
 hello professor how are you

In [6]:
"11. Count the occurrences of a word in a string."

s11 = input("Enter the sentence")
word= input("Enter word")

s11_s = s11.split()
print(s11_s)
count = 0

for w in s11_s:
    if w == word:
        count+=1

print("the word ",word," occurrences ",count,"times")

Enter the sentencei like mango what do you like
Enter wordlike
['i', 'like', 'mango', 'what', 'do', 'you', 'like']
the word  like  occurrences  2 times

In [7]:
"""12. Find the first occurrence of a word in a string."""

s12 = input("Enter the sentence")
word= input("Enter word")

loc = s12.find(word)

if loc == -1:
    print("the word is not found")
else:
    print("word found at location",loc)

Enter the sentenceHello sir how are you
Enter wordsir
word found at location 6

In [8]:
"""13. Find the last occurrence of a word in a string."""

s13 = input("Enter the sentence")
word= input("Enter word")

loc = s13.rfind(word)

if loc == -1:
    print("the word is not found")
else:
    print("word found at location",loc)

Enter the sentencei like mango what do you like
Enter wordlike
word found at location 25

In [9]:
"""14. Split a string into a list of words."""

s14 = input("Enter the sentence")
s14_s = s14.split()

print("list of words\n",s14_s)

Enter the sentencei love you
list of words
 ['i', 'love', 'you']

In [10]:
"""15. Join a list of words into a string."""

s15 = ['i', 'love', 'you']
s15_j = ' '.join(s15)

print("joint string is\n",s15_j)

joint string is
 i love you

In [12]:
"""16. Convert a string where words are separated by spaces to one where words
are separated by underscores."""

s16 = input("Enter a string")
s16_r = s16.replace(" ","_")

print(s16_r)

Enter a stringi love you
i_love_you

In [19]:
"""17. Check if a string starts with a specific word or phrase."""

s17 = input("Enter a string\n")
word = input("Enter a word\n")

result = s17.startswith(word)

if result == True:
    print("the sentence start with word",word)
else:
    print("the sentence is not start with",word)

Enter a string
hello professor
Enter a word
hello
the sentence start with word hello

In [20]:
"""18. Check if a string ends with a specific word or phrase."""

s18 = input("Enter a string\n")
word = input("Enter a word\n")

result = s18.endswith(word)

if result == True:
    print("the sentence end with word",word)
else:
    print("the sentence is not ends with",word)

Enter a string
i am shubh
Enter a word
shubh
the sentence end with word shubh

In [22]:
"""19. Convert a string to title case (e.g., "hello world" to "Hello World")."""

s19 = input("Enter a string\n")
s19_t = s19.title()
print(s19_t)

Enter a string
i love you
I Love You

In [27]:
"""20. Find the longest word in a string."""

s20 = input("Enter a string\n")
s20_s = s20.split()
size = 0
lword = ""


for s in s20_s:
    if len(s) > size:
        size = len(s)
        lword = s
    
print("the longest word in sentence is",lword)

Enter a string
hello professor how are you
the longest word in sentence is professor

In [31]:
"""21. Find the shortest word in a string."""

s21 = input("Enter a string\n")
s21_s = s21.split()
size = float('inf')
sword = ""


for s in s21_s:
    if len(s) < size:
        size = len(s)
        sword = s
    
print("the shortest word in sentence is",sword)

Enter a string
i love you
the shortest word in sentence is i

In [35]:
"""22. Reverse the order of words in a string."""

s22 = input("Enter a string\n")
s22_s = s22.split()
s22_r = ' '.join(s22_s[::-1])

print("the reverse the order of word in string is\n ",s22_r)

Enter a string
Practice makes man perfect
the reverse the order of word in string is
  perfect man makes Practice

In [37]:
"""23. Check if a string is alphanumeric."""

s23 = input("Enter a string\n")
s23_an = s23.isalnum()

if s23_an == True:
    print("the string is alphanumeric")
else:
    print("the string is not alphanumeric")

Enter a string
shubh123
the string is alphanumeric

In [3]:
"""24. Extract all digits from a string."""

s24 = input("Enter a string\n")
dig = ""

for c in s24:
    if c.isdigit():
        dig += c

print("all digits in strings are",dig)

Enter a string
vchg567ghui75fgh675
all digits in strings are 56775675

In [2]:
"""25. Extract all alphabets from a string."""

s25 = input("Enter a string\n")
alph = ""

for c in s25:
    if c.isalpha():
        alph += c

print("all alphabates in string are",alph)

Enter a string
s654h76u46b7h43
all alphabates in string are shubh

In [5]:
"""26. Count the number of uppercase letters in a string."""

s26 = input("Enter a string\n")
count=0
for i in s26:
    if i.isupper():
        count+=1

print("number of uppercase letters are",count)

Enter a string
Hello EveryOne My Name is ShuBh
number of uppercase letters are 7

In [7]:
"""27. Count the number of lowercase letters in a string."""

s27 = input("Enter a string\n")
count=0
for i in s27:
    if i.islower():
        count+=1

print("number of lowercase letters are",count)

Enter a string
Hello EveryOne My Name is ShuBh
number of lowercase letters are 19

In [9]:
"""28. Swap the case of each character in a string."""

s28 = input("Enter a string\n")
s28_r = s28.swapcase()

print("sentence after swap case\n",s28_r)

Enter a string
Hello EveryOne My Name is ShuBh
sentence after swap case
 hELLO eVERYoNE mY nAME IS sHUbH

In [7]:
"""29. Remove a specific word from a string."""

s29 = input("Enter a string\n")
s29_word = input("Enter a word\n")

s29_s = s29.split()
if s29_word in s29_s:
    s29_s.remove(s29_word)
result = ' '.join(s29_s)
print(result)

Enter a string
i love you
Enter a word
love
i you

In [9]:
"""30. Check if a string is a valid email address."""
import re

s30 = input("Enter a email adress\n")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern,s30):
    print("valid email")
else:
    print("invalid email")

Enter a email adress
shubh06@gmail.com
valid email

In [61]:
"""31. Extract the username from an email address string."""

s31 = input("Enter email adress")
s31_u = s31.split("@")[0]
print("the username is ",s31_u)

Enter email adressshubh06@gmail.com
the username is  shubh06

In [63]:
"""32. Extract the domain name from an email address string."""

s32 = input("Enter email adress")
s32_u = s32.split("@")[1]
print("the domain name is ",s32_u)

Enter email adressshubh06@gmail.com
the domain name is  gmail.com

In [65]:
"""33. Replace multiple spaces in a string with a single space."""

s33 = input("Enter a string")
s33_s = ' '.join(s33.split())
print(s33_s)

Enter a stringhello sir    how are    you
hello sir how are you

In [72]:
"""34. Check if a string is a valid URL."""
from urllib.parse import urlparse

s34 = input("Enter a URL")
s34_url = urlparse(s34)
print(s34_url)
check = all([s34_url.scheme, s34_url.netloc])
if check:
    print("\nURL is valid")
else:
    print("URL is not valid")

Enter a URLhttps://www.example.com
ParseResult(scheme='https', netloc='www.example.com', path='', params='', query='', fragment='')

URL is valid

In [75]:
"""35. Extract the protocol (http or https) from a URL string."""

def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
    
url1 = input("Enter URL")
protocol1 = extract_protocol(url1)
print("Protocol 1:", protocol1)

Enter URLhttps://www.example.com
Protocol 1: https

In [78]:
"""36. Find the frequency of each character in a string."""

s36 = "Hello, world!"
chcount = {}
for ch in s36:
    if ch in chcount:
        chcount[ch] += 1
    else:
        chcount[ch] = 1

print("The frequency of each character in the string is ")

for ch, co in chcount.items():
    print(f"'{ch}': {co}")

The frequency of each character in the string is:
'H': 1
'e': 1
'l': 3
'o': 2
',': 1
' ': 1
'w': 1
'r': 1
'd': 1
'!': 1

In [80]:
"""37. Remove all punctuation from a string."""

import re

def remove_punctuation(input_string):
    return re.sub(r'[^\w\s]', '', input_string)

string_with_punctuation = "Hello, world!"
string_without_punctuation = remove_punctuation(string_with_punctuation)
print(string_without_punctuation)

Hello world

In [98]:
"""38. Check if a string contains only digits."""

def check_dig(string):
    return string.isdigit()

result1 = check_dig("shreeram")
result2 = check_dig("shubh65")
result3 = check_dig("56987")

print("string1 contains only digits:", result1)
print("string2 contains only digits:", result2)
print("string3 contains only digits:", result3)

string1 contains only digits: False
string2 contains only digits: False
string3 contains only digits: True

In [99]:
"""39. Check if a string contains only alphabets."""

def check_alph(string):
    return string.isalpha()

result1 = check_alph("shreeram")
result2 = check_alph("shubh65")
result3 = check_alph("56987")

print("string1 contains only digits:", result1)
print("string2 contains only digits:", result2)
print("string3 contains only digits:", result3)

string1 contains only digits: True
string2 contains only digits: False
string3 contains only digits: False

In [102]:
"""40. Convert a string to a list of characters."""

string = "Hello sir"
lst = []

for i in string:
    lst.append(i)
print(lst)

['H', 'e', 'l', 'l', 'o', ' ', 's', 'i', 'r']

In [104]:
"""41. Check if two strings are anagrams."""

def anagrams_check(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

str1 = "listen"
str2 = "silent"
str3 = "hello"
str4 = "world"

# Check if strings are anagrams
res1 = anagrams_check(str1, str2)
res2 = anagrams_check(str3, str4)

# Print the results
print(f"'{str1}' and '{str2}' are anagrams:", res1)
print(f"'{str3}' and '{str4}' are anagrams:", res2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [108]:
"""42. Encode a string using a Caesar cipher."""

def caesar_cipher_encode(string, shift):
    encoded_string = ""
    for c in string:
        if c.isalpha():
            ascii_offset = ord('A') if c.isupper() else ord('a')
            encoded_char = chr((ord(c) - ascii_offset + shift) % 26 + ascii_offset)
            encoded_string += encoded_char
        else:
            encoded_string += c
    return encoded_string

plaintext = "Hello, world!"
shift = 3
ciphertext = caesar_cipher_encode(plaintext, shift)
print(ciphertext)

Khoor, zruog!

In [109]:
"""43. Decode a Caesar cipher encoded string."""

def caesar_cipher_decode(string, shift):
    return caesar_cipher_encode(string, -shift)


ciphertext = "Khoor, zruog!"
shift = 3
plaintext = caesar_cipher_decode(ciphertext, shift)
print(plaintext)

Hello, world!

In [113]:
"""44. Find the most frequent word in a string."""

def most_frequent_word(string):
    words = string.split()
    word_count = {}
    for w in words:
        if w in word_count:
            word_count[w] += 1
        else:
            word_count[w] = 1
    max_count = 0
    max_word = ""
    for word, count in word_count.items():
        if count > max_count:
            max_count = count
            max_word = word
    return max_word

string = "Hello world, hello there How's the world"
most_frequent = most_frequent_word(string)
print(f"The most frequent word in '{string}' is '{most_frequent}'.")

The most frequent word in 'Hello world, hello there How's the world' is 'Hello'.

In [121]:
"""45. Find all unique words in a string."""

import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    print(clean_string)
    words = set(clean_string.split())
    return words

input_str = "Hello world, hello there! How's the world?"
unique_word_set = unique_words(input_str)
print("Unique words:", unique_word_set)

hello world hello there hows the world
Unique words: {'hows', 'there', 'world', 'the', 'hello'}

In [123]:
"""46. Count the number of syllables in a string."""

import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "banana"
syllables1 = count_syllables(word1)
print(f"'{word1}' has {syllables1} syllables.")

'banana' has 3 syllables.

In [127]:
"""47. Check if a string contains any special characters."""

str = "Hello@123"
pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
m = pattern.search(str)
if m:
    print("contian special char")
else:
    print("not contain special char")

contian special char

In [128]:
"""48. Remove the nth word from a string."""

def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "This is an example sentence to test the function."
n_value = 4
modified_str, removed_word = remove_nth_word(input_str, n_value)
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [7]:
"""49. Insert a word at the nth position in a string."""

def insertion(input_str,input_word,n):
    
    modified_str = input_str[0:n] + input_word + " " + input_str[n:]
    print("input string --- ",input_str)
    print("modified_string --- ",modified_str)

input_str = "This is example sentence to test the function."
n = 8
input_word = "an"

insertion(input_str,input_word,n)

input string ---  This is example sentence to test the function.
modified_string ---  This is an example sentence to test the function.

In [8]:
"50. Convert a CSV string to a list of lists."

def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
list_of_lists = csv_string_to_list(csv_data)
print(list_of_lists)

[['Name', ' Age', ' Country'], ['John', ' 25', ' USA'], ['Alice', ' 30', ' Canada'], ['Bob', ' 22', ' UK']]

## List Based Practice Problem :

In [10]:
"""1. Create a list with integers from 1 to 10."""

l1 = list(range(1,11))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
"""2. Find the length of a list without using the `len()` function."""

l2 = [1, 2, 3, 4, 7, 8, 9, 10]
i=0
for l in l2:
    i=i+1
print("length of list is ", i)

length of list is  8

In [15]:
"""3. Append an element to the end of a list.."""

l3 = [1, 2, 'shubh' , 4, 7, 'korea' , 9, 10]
l3.append('bharat')
print(l3)

[1, 2, 'shubh', 4, 7, 'korea', 9, 10, 'bharat']

In [16]:
"""4. Insert an element at a specific index in a list."""

l4 = [1, 2, 'shubh', 4, 7, 9, 10, 'bharat']
l4.insert(3,'india')
print(l4)

[1, 2, 'shubh', 'india', 4, 7, 9, 10, 'bharat']

In [20]:
"""5. Remove an element from a list by its value."""

l5 = [1, 2, 'shubh', 'india', 4, 7, 9, 10, 'bharat']
l5.remove(9)
print(l5)

[1, 2, 'shubh', 'india', 4, 7, 10, 'bharat']

In [22]:
"""6. Remove an element from a list by its index."""

l6 = [1, 2, 'shubh', 'india', 4, 7, 10, 'bharat']
i = 2
l6.pop(i)
print(l6)

[1, 2, 'india', 4, 7, 10, 'bharat']

In [23]:
"""7. Check if an element exists in a list."""

l7 = [1, 2, 'india', 4, 7, 10, 'bharat']
l7_e = 7

if l7_e in l7:
    print("element is present")
else:
    print("element is not present")

element is present

In [26]:
"""8. Find the index of the first occurrence of an element in a list."""

l8 = [1, 2, 'india', 4, 7, 10, 'bharat',10]
l8_w = 10

loc = l8.index(l8_w)
print("the index is ",loc)

the index is  5

In [32]:
"""9. Count the occurrences of an element in a list."""

l9 = [1, 2,10, 'india', 4, 7, 10, 'bharat',10]
l9_e = 10
o=0
for i in l9:
    if i == l9_e:
        o = o+1
print(l9_e," occurrence",o," times")

10  occurrence 3  times

In [35]:
"""10. Reverse the order of elements in a list."""

l10 = [1, 2,10, 'india', 4, 7, 10, 'bharat',10]

l10_r = l10[::-1]
print(l10_r)

[10, 'bharat', 10, 7, 4, 'india', 10, 2, 1]

In [42]:
"""11. Sort a list in ascending order."""

l11 = [8, 2,10, 4, 7, 10 ,1]
l11.sort()
print("list in asending order ",l11)

list in asending order  [1, 2, 4, 7, 8, 10, 10]

In [43]:
"""12. Sort a list in descending order."""

l12 = [8, 2,10, 4, 7, 10 ,1]
l12.sort(reverse=True)
print("list in descending order ",l12)

list in descending order  [10, 10, 8, 7, 4, 2, 1]

In [49]:
"""13. Create a list of even numbers from 1 to 20."""
l13=[]
for i in range(1,20):
    if i%2 == 0:
        l13.append(i)

print("list of even numbers from 1 to 20 ",l13)

list of even numbers from 1 to 20  [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
"""14. Create a list of odd numbers from 1 to 20."""
l14=[]
for i in range(1,20):
    if i%2 != 0:
        l14.append(i)

print("list of even numbers from 1 to 20 ",l14)

list of even numbers from 1 to 20  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [58]:
"""15. Find the sum of all elements in a list."""

l15 = [8, 2,10, 4, 7, 10 ,1]
l15_s = sum(l15)
print("sum of element is ",l15_s)

sum of element is  42

In [64]:
"""16. Find the maximum value in a list."""

l16 = [8, 2,10, 4, 7, 10 ,1]
m = max(l16)
print("the max value is ",m)

the max value is  10

In [65]:
"""17. Find the minimum value in a list."""

l17 = [8, 2,10, 4, 7, 10 ,1]
mn = min(l17)
print("the max value is ",mn)

the max value is  1

In [67]:
"""18. Create a list of squares of numbers from 1 to 10."""
l18=[]
for i in range(1,11):
    l18.append(i*i)
print("list of squares of numbers from 1 to 10\n ",l18)

list of squares of numbers from 1 to 10
  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
"""19. Create a list of random numbers."""

import random
l19 = []
for i in range(0,10):
    l19_i = random.randint(1,100)
    l19.append(l19_i)
print(l19)

[13, 87, 90, 8, 23, 70, 36, 58, 55, 49]

In [78]:
"""20. Remove duplicates from a list."""

l20 = [5,8,6,8,1,6,5,8,1]

l20_s = set(l20)
result = list(l20_s)

print(result)

[8, 1, 5, 6]

In [80]:
"""21. Find the common elements between two lists."""

lst1 = [1,'ravan',8,'ram',9,4,'sita']
lst2 = [8,'shubh','ram',5,3]

l21=[]
for i in lst1:
    if i in lst2:
        l21.append(i)
        
print("common element ",l21)

common element  [8, 'ram']

In [82]:
"""22. Find the difference between two lists."""

lst1 = [1,'ravan',8,'ram',9,4,'sita']
lst2 = [8,'shubh','ram',5,3]

l22=[]
for i in lst1:
    if i not in lst2:
        l22.append(i)
        
print("diffrence element ",l22)

diffrence element  [1, 'ravan', 9, 4, 'sita']

In [83]:
"""23. Merge two lists."""

lst1 = [1,'ravan',8,'ram',9,4,'sita']
lst2 = [8,'shubh','ram',5,3]

l23=[]
l23 = lst1+lst2

        
print("merged list ",l23)

merged list  [1, 'ravan', 8, 'ram', 9, 4, 'sita', 8, 'shubh', 'ram', 5, 3]

In [84]:
"""24. Multiply all elements in a list by 2."""

l24 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]
result=[]
for i in l24:
    result.append(i*2)
print("list after mult by2 ",result)

list after mult by2  [26, 174, 180, 16, 46, 140, 72, 116, 110, 98]

In [87]:
"""25. Filter out all even numbers from a list."""

l25 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]

for i in l25:
    if i%2==0:
        l25.remove(i)
print("list after filter out even number, the odd number list is ",l25)

list after filter out even number, the odd number list is  [13, 87, 8, 23, 36, 55, 49]

In [89]:
"""26. Convert a list of strings to a list of integers."""

l26 = ['13', '87', '90', '8', '23', '70', '36', '58', '55', '49']
result=[]
for i in l26:
    result.append(int(i))

print(result)

[13, 87, 90, 8, 23, 70, 36, 58, 55, 49]

In [90]:
"""27. Convert a list of integers to a list of strings."""

l27 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]
result=[]
for i in l27:
    result.append(str(i))

print(result)

['13', '87', '90', '8', '23', '70', '36', '58', '55', '49']

In [91]:
"""28. Flatten a nested list."""

l28 = [[1,2,3],[5,6,7],[11,12]] 
result=[]
for i in l28:
    result = result+i
print(result)

[1, 2, 3, 5, 6, 7, 11, 12]

In [92]:
"""29. Create a list of the first 10 Fibonacci numbers."""

l29 = []
a=0
b=1

for i in range(10):
    l29.append(b)   
    c=a+b
    a=b
    b=c
print("10 fibonacci numbers are ",l29)

10 fibonacci numbers are  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [106]:
"""30. Check if a list is sorted."""
import copy
l30 = [1, 2, 7, 8, 10, 10]

la = copy.copy(l30)
ld = copy.copy(l30)

la.sort()
ld.sort(reverse=True)

if l30 == la or l30 == ld:
    print("lst is sorted")
else:
    print("lst is not sorted")

lst is sorted

In [88]:
"""31. Rotate a list to the left by `n` positions."""

l31 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]

n = int(input("Enter a position "))
rot = l31[n:] + l31[:n]
print("rotated list ",rot)

Enter a position 6
rotated list  [36, 58, 55, 49, 13, 87, 90, 8, 23, 70]

In [90]:
"""32. Rotate a list to the right by `n` positions."""

l32 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]

m = int(input("Enter a position "))
rot = l32[-m:] + l32[:-m]
print("rotated list ",rot)

Enter a position 6
rotated list  [23, 70, 36, 58, 55, 49, 13, 87, 90, 8]

In [95]:
"""33. Create a list of prime numbers up to 50."""

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

l33 = [i for i in range(2, 51) if is_prime(i)]
print(l33)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [3]:
"""34. Split a list into chunks of size `n """

lst = [1, 2, 3, 4, 5, 6, 7, 8]
n = 3
res=[]
for i in range(0,len(lst),n):
    res.append(lst[i:i+n])
    
print(res)

[[1, 2, 3], [4, 5, 6], [7, 8]]

In [11]:
"""35. Find the second largest number in a list."""

l35 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]
l35.sort()
res = l35[-2]
print("the second largest element is",res)

the second largest element is 87

In [13]:
"""36. Replace every element in a list with its square."""


ls36 = [2, 4, 6, 8, 10]
squ_lst = [i*i for i in ls36]
print("Squared list:", squ_lst)

Squared list: [4, 16, 36, 64, 100]

In [19]:
"""37. Convert a list to a dictionary where list elements become keys and their
indices become values."""

l37 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]
dic = {}
j=0
for i in l37:
    dic.update({i:j})
    j+=1
dic

{13: 0, 87: 1, 90: 2, 8: 3, 23: 4, 70: 5, 36: 6, 58: 7, 55: 8, 49: 9}

In [20]:
"""38. Shuffle the elements of a list randomly."""
import random
l38 = [13, 87, 90, 8, 23, 70, 36, 58, 55, 49]
random.shuffle(l38)
print("Shuffled list:", l38)

Shuffled list: [36, 70, 55, 49, 13, 87, 90, 8, 58, 23]

In [21]:
"""39. Create a list of the first 10 factorial numbers."""

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

fact = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers--", fact)

List of the first 10 factorial numbers-- [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [24]:
"""40. Check if two lists have at least one element in common."""

lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]
val = False
for i in lst1:
    if i in lst2:
        val = True
        
if val == True:
    print("atleast one element present")
else:
    print("not a single element present")

atleast one element present

In [25]:
"""41. Remove all elements from a list."""

lst = [1, 2, 3, 4, 5]
lst.clear()
print("Empty list:", lst)

Empty list: []

In [27]:
"""42. Replace negative numbers in a list with 0."""

l42 = [13, -87, 90, -8, 23, 70, -36, 58, 55, -49]
res = [0 if i<0 else i for i in l42]
print(res)

[13, 0, 90, 0, 23, 70, 0, 58, 55, 0]

In [29]:
"""43. Convert a string into a list of words."""

str43 = "Hello how are you"
l43 = str43.split()
print("the converted list is",l43)

the converted list is ['Hello', 'how', 'are', 'you']

In [31]:
"""44. Convert a list of words into a string."""

str44 = ['Hello', 'how', 'are', 'you']
l44 = " ".join(str44)
print(l44)

Hello how are you

In [ ]:
"""45. Create a list of the first `n` powers of 2."""

n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

In [35]:
"""46. Find the longest string in a list of strings."""

l46 = ["apple", "banana","elderberry", "cherry", "date" ]
c = 1
for i in l46:
    ln = len(i)
    if ln>c:
        c=ln
        long = i
print("longest word in list is ",long,"with lenght",c)

longest word in list is  elderberry with lenght 10

In [42]:
"""47. Find the shortest string in a list of strings."""

l47 = ["apple", "banana", "date","elderberry", "cherry" ]
c = float('inf')
for i in l47:
    ln = len(i)
    if ln<c:
        c=ln
        short = i
print("shortest word in list is ",short,"with lenght",c)

shortest word in list is  date with lenght 4

In [44]:
"""48. Create a list of the first `n` triangular numbers."""

def tri_num(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 10
tri_lst = tri_num(n)

print("List of the first", n, "triangular numbers:", tri_lst)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [46]:
"""49. Check if a list contains another list as a subsequence."""

lst49 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub = [3, 5, 8]
c=0
for i in sub:
    if i in lst49:
        c+=1
        
if c==len(sub):
    print("main list contain sublist")
else:
    print("not contain")

main list contain sublist

In [51]:
"""50. Swap two elements in a list by their indices."""

lst50 = [1, 2, 3, 4, 5]
ind1 = 2
ind2 = 4

t = lst50[ind1]
lst50[ind1] = lst50[ind2]
lst50[ind2] = t

print("List after swapping elements:", lst50)

List after swapping elements: [1, 2, 5, 4, 3]

## Tuple Based Practice Problem :

In [1]:
"""1. Create a tuple with integers from 1 to 5."""

t1 = (1,2,3,4,5)
print('the tuples ',t1)

the tuples  (1, 2, 3, 4, 5)

In [4]:
"""2. Access the third element of a tuple."""
t2 = (1,2,3,4,5)
third = t2[2]
print("the third element is ",third)

the third element is  3

In [8]:
"""3. Find the length of a tuple without using the `len()` function."""

t3 = (1,2,3,4,5)
count =0
for _ in t3:
    count +=1
print("length of tuple is",count)

length of tuple is 5

In [9]:
"""4. Count the occurrences of an element in a tuple."""

t4 = (1,2,3,4,5,2,9,5)
ele = 5
c=0 
for i in t4:
    if i == ele:
        c+=1
print(c," times occurs")

2  times occurs

In [10]:
"""5. Find the index of the first occurrence of an element in a tuple."""

t5 = (10, 20, 30, 20, 40, 50)
e = 20

loc = t5.index(e)
print("the index is ",loc)

the index is  1

In [11]:
"""6. Check if an element exists in a tuple."""

t6 = (10, 20, 30, 20, 40, 50)
el = 40

if el in t6:
    print("element is exit")
else:
    print("element is not exit")

element is exit

In [12]:
"""7. Convert a tuple to a list."""

t7 = (10, 20, 30, 20, 40, 50)
t7_l = list(t7)

print("converted into list",t7_l)

converted into list [10, 20, 30, 20, 40, 50]

In [2]:
"""8. Convert a list to a tuple."""

l = [10, 20, 30, 20, 40, 50]
t8 = tuple(l)

print("tuple ",t8)

tuple  (10, 20, 30, 20, 40, 50)

In [3]:
"""9. Unpack the elements of a tuple into variables."""

t9 = (20, 40, 50)
vr1,vr2,vr3 = t9

print("variable1 ",vr1)
print("variable1 ",vr2)
print("variable1 ",vr3)

variable1  20
variable1  40
variable1  50

In [10]:
"""10. Create a tuple of even numbers from 1 to 10."""

t10_l=[]
for i in range(2,11,2):
    t10_l.append(i)
    
t10 = tuple(t10_l)
print(t10)

(2, 4, 6, 8, 10)

In [11]:
"""11. Create a tuple of odd numbers from 1 to 10."""

t11_l=[]
for i in range(1,11,2):
    t11_l.append(i)
    
t11 = tuple(t11_l)
print(t11)

(1, 3, 5, 7, 9)

In [13]:
"""12. Concatenate two tuples."""

t12_1 = (2, 4, 6, 8, 10)
t12_2 = (1, 3, 5, 7, 9)

t12 = t12_1 + t12_2
print(t12)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [15]:
"""13. Repeat a tuple three times."""

t13 = (1, 6, 5)
t13_r = t13 * 3
print("Repeated tuple:", t13_r)

Repeated tuple: (1, 6, 5, 1, 6, 5, 1, 6, 5)

In [16]:
"""14. Check if a tuple is empty."""

t14_e = ()
t14_n = (1, 6, 5)

if not t14_e:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

if not t14_n:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.
The tuple is not empty.

In [18]:
"""15. Create a nested tuple."""

t15 = ((1, 6, 5), ('a', 'b', 'd'), (True, False))
print("Nested tuple ", t15)

Nested tuple  ((1, 6, 5), ('a', 'b', 'd'), (True, False))

In [21]:
"""16. Access the first element of a nested tuple."""

t15 = ((1, 6, 5), ('a', 'b', 'd'), (True, False))
first = t15[1]
print("first element  ", first)

first element   ('a', 'b', 'd')

In [22]:
"""17. Create a tuple with a single element."""

t17 = (12,)
print("tuple with single element ",t17)

tuple with single element  (12,)

In [24]:
"""18. Compare two tuples."""

t18_1 = (1, 2, 3)
t18_2 = (1, 2, 4)

print("tuple1 == tuple2:", t18_1 == t18_2 )  
print("tuple1 != tuple2:", t18_1 != t18_2 )  
print("tuple1 < tuple2:", t18_1 < t18_2 )   
print("tuple1 <= tuple2:", t18_1 <= t18_2 )  
print("tuple1 > tuple2:", t18_1 > t18_2 )   
print("tuple1 >= tuple2:", t18_1 >= t18_2 )

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [28]:
"""19. Delete a tuple."""

t19 = (1, 2, 3)
del(t19)

In [30]:
"""20. Slice a tuple."""

t20 = (2, 4, 6, 8, 10)
sliced = t20[1:3]
print("sliced ",sliced)

sliced  (4, 6)

In [31]:
"""21. Find the maximum value in a tuple."""

t21 = (2, 4, 6, 8, 10)
maxi = max(t21)
print("maximum value in tuple is ",maxi)

maximum value in tuple is  10

In [32]:
"""22. Find the minimum value in a tuple."""

t22 = (7, 4, 6, 2, 10)
mini = min(t22)
print("minimum value in tuple is ",mini)

minimum value in tuple is  2

In [33]:
"""23. Convert a string to a tuple of characters."""

t23_string = "Hello sir"
t23 = tuple(t23_string)
print(t23)

('H', 'e', 'l', 'l', 'o', ' ', 's', 'i', 'r')

In [35]:
"""24. Convert a tuple of characters to a string."""

t24_char = ('H', 'e', 'l', 'l', 'o')
t24_string = ''.join(t24_char)
print("string from tuple ",t24_string)

string from tuple  Hello

In [36]:
"""25. Create a tuple from multiple data types."""

t25 = (6, "hello", 3.14, True)
print("tuple with multiple data type ",t25)

tuple with multiple data type  (6, 'hello', 3.14, True)

In [37]:
"""26. Check if two tuples are identical."""

t26_1 = (1, 2, 3)
t26_2 = (1, 2, 3)

print("tuple1 and tuple2 are identical:", t26_1 == t26_2)

tuple1 and tuple2 are identical: True

In [41]:
"""27. Sort the elements of a tuple."""

t27 = (7, 4, 6, 2, 10)
sort = tuple(sorted(t27))
print("sorted tuple ",sort)

sorted tuple  (2, 4, 6, 7, 10)

In [2]:
"""28. Convert a tuple of integers to a tuple of strings."""

t28 = (7, 4, 6, 2, 10)
tuple_of_string = tuple(str(i) for i in t28)
print(tuple_of_string)

('7', '4', '6', '2', '10')

In [3]:
"""29. Convert a tuple of strings to a tuple of integers."""

t29 = ('7', '4', '6', '10')
tuple_of_int = tuple(int(i) for i in t29)
print(tuple_of_int)

(7, 4, 6, 10)

In [5]:
"""30. Merge two tuples."""

t30_1 = (7, 6, 2, 10)
t30_2 = (9, 4, 3)
t30 = t30_1 + t30_2
print("murged tuple",t30)

murged tuple (7, 6, 2, 10, 9, 4, 3)

In [52]:
"""31. Flatten a nested tuple."""

def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [53]:
"""32. Create a tuple of the first 5 prime numbers."""

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def first_n_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return tuple(prime_list)

n = 5
prime_numbers = first_n_primes(n)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [55]:
"""33. Check if a tuple is a palindrome."""

def is_palindrome(tup):
    return tup == tup[::-1]

tup = (1, 2, 3, 2, 1)
is_palindrome = is_palindrome(tup)
print("palindrome_tuple is a palindrome:", is_palindrome)

palindrome_tuple is a palindrome: True

In [56]:
"""34. Create a tuple of squares of numbers from 1 to 5."""

squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [57]:
"""35. Filter out all even numbers from a tuple."""

original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [58]:
"""36. Multiply all elements in a tuple by 2."""

original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [65]:
"""37. Create a tuple of random numbers."""

import random
rand_tup = tuple(random.randint(1,100) for i in range(10))
print("Random tuple:", rand_tup)

Random tuple: (38, 67, 19, 57, 11, 2, 62, 34, 21, 95)

In [67]:
"""38. Check if a tuple is sorted."""

def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

tup = (1, 2, 3, 5)

is_sort = is_sorted(tup)
print("sorted_tuple is sorted:", is_sort)

sorted_tuple is sorted: True

In [68]:
"""39. Rotate a tuple to the left by `n` positions."""

def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [69]:
"""40. Rotate a tuple to the right by `n` positions."""

def rotate_tuple_right(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [123]:
"""41. Create a tuple of the first 5 Fibonacci numbers."""


def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2] 
        fibonacci.append(next_number)  
    return tuple(fibonacci) 

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [125]:
"""42. Create a tuple from user input."""

input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas: h,f,d,s,k,t
User input tuple: ('h', 'f', 'd', 's', 'k', 't')

In [126]:
"""43. Swap two elements in a tuple."""

my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [127]:
"""44. Reverse the elements of a tuple."""

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [128]:
"""45. Create a tuple of the first `n` powers of 2."""

n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [129]:
"""46. Find the longest string in a tuple of strings."""

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [130]:
"""47. Find the shortest string in a tuple of strings."""

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [131]:
"""48. Create a tuple of the first `n` triangular numbers."""

n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [132]:
"""49. Check if a tuple contains another tuple as a subsequence."""

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [133]:
"""50. Create a tuple of alternating 1s and 0s of length `n`."""

n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

In [6]:
"""1. Create a set with integers from 1 to 5."""

st1 = {1,2,3,4,5}
print(st1)

{1, 2, 3, 4, 5}

In [7]:
"""2. Add an element to a set."""

st2 ={1,2,4,5}
ele = 7

st2.add(ele)
print("Set after adding element ",st2)

Set after adding element: {1, 2, 4, 5, 7}

In [8]:
"""3. Remove an element from a set."""

st3 = {1, 2, 4, 5, 7}
eler =5

st3.remove(eler)
print("set after removed ele ",st3)

set after removed ele  {1, 2, 4, 7}

In [9]:
"""4. Check if an element exists in a set."""

st4 = {1, 2, 4, 5, 7}
ch = 4

if ch in st4:
    print("element exists")
else:
    print("element not exists")

element exists

In [10]:
"""5. Find the length of a set without using the `len()` function."""

st5 = {1, 2, 4, 5, 7}
cnt =0
for i in st5:
    cnt +=1
    
print("lenght of set is ",cnt)

lenght of set is  5

In [12]:
"""6. Clear all elements from a set."""

st6 = {1, 2, 4, 5, 7}
st6.clear()
print(st6)

set()

In [15]:
"""7. Create a set of even numbers from 1 to 10."""

st7 = set()
for i in range(0,11,2):
    st7.add(i)
print(st7)

{0, 2, 4, 6, 8, 10}

In [16]:
"""8. Create a set of odd numbers from 1 to 10."""

st8 = set()
for i in range(1,11,2):
    st8.add(i)
print(st8)

{1, 3, 5, 7, 9}

In [17]:
"""9. Find the union of two sets."""

st9_1 = {1, 2, 3, 4, 5}
st9_2 = {6, 2, 7, 8, 3}

st9 = st9_1.union(st9_2)
print("union of 2 set ",st9)

union of 2 set  {1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
"""10. Find the intersection of two sets."""

st10_1 = {1, 2, 3, 4, 5}
st10_2 = {6, 2, 7, 8, 3}

st10 = st10_1.intersection(st10_2)
print("intersection of 2 set ",st10)

intersection of 2 set  {2, 3}

In [21]:
"""11. Find the difference between two sets."""

st11_1 = {1, 2, 3, 4, 5}
st11_2 = {6, 2, 7, 8, 3}

st11 = st11_1.difference(st11_2)
print("difference between two set ",st11)

difference between two set  {1, 4, 5}

In [22]:
"""12. Check if a set is a subset of another set."""

st12_1 = {1, 2, 3}
st12_2 = {1, 2, 3, 4, 5}

subs = st12_1.issubset(st12_2)

print("Is set1 a subset of set2:", subs)

Is set1 a subset of set2: True

In [25]:
"""13. Check if a set is a superset of another set."""

st13_1 = {1, 2, 3}
st13_2 = {3, 4}

sups = st13_1.issuperset(st13_2)

print("Is set1 a superset of set2:", sups)

Is set1 a superset of set2: False

In [27]:
"""14. Create a set from a list."""

st14_l = [1,2,3,4,5]
st14   = set(st14_l)

print(st14)

{1, 2, 3, 4, 5}

In [28]:
"""15. Convert a set to a list."""

st15 = {1, 2, 3, 4, 5}
st15_l   = list(st14_l)

print(st15_l)

[1, 2, 3, 4, 5]

In [29]:
"""16. Remove a random element from a set."""

import random
st16 = {1, 2, 3, 4, 5}
rand_ele = random.choice(list(st16))
st16.remove(rand_ele)
print("Updated set after removing", rand_ele ," is ", st16)

Updated set after removing 3  is  {1, 2, 4, 5}

In [32]:
"""17. Pop an element from a set."""

st17 = {1, 2, 3, 4, 5}
ele_p = st17.pop()
print("Set after pop:", st17)

Set after pop: {2, 3, 4, 5}

In [33]:
"""18. Check if two sets have no elements in common."""

st18_1 = {1, 2, 3, 4}
st18_2 = {5, 6, 7, 8}

ele_c = st18_1.intersection(st18_2)
if not ele_c:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", ele_c)

The two sets have no elements in common.

In [34]:
"""19. Find the symmetric difference between two sets."""

st19_2 = {1, 2, 3, 4, 5}
st19_1 = {4, 5, 6, 7, 8}

sym_dif = st19_1 ^ st19_2
print("Symmetric Difference ", sym_dif)

Symmetric Difference  {1, 2, 3, 6, 7, 8}

In [35]:
"""20. Update a set with elements from another set."""

st20_1 = {1, 2, 3}
st20_2 = {3, 4, 5}

st20_1.update(st20_2)
print("Updated Set 1:", st20_1)

Updated Set 1: {1, 2, 3, 4, 5}

In [36]:
"""21. Create a set of the first 5 prime numbers."""


def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

st21 = set()
n = 2

while len(st21) < 5:
    if is_prime(n):
        st21.add(n)
    n += 1
    
print("Set of the first 5 prime numbers ", st21)

Set of the first 5 prime numbers  {2, 3, 5, 7, 11}

In [37]:
"""22. Check if two sets are identical."""

st22_1 = {1, 2, 3}
st22_2 = {1, 2, 3}

if st22_1 == st22_2:
    print("sets are identical")
else:
    print("sets are not identical")

sets are identical

In [42]:
"""23. Create a frozen set."""

st23_e = {1, 2, 3, 4, 5}
st23 = frozenset(st23_e)
print("Frozen Set:", st23)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [43]:
"""24. Check if a set is disjoint with another set."""

st24_1 = {1, 2, 3, 4}
st24_2 = {5, 6, 7, 8}

st24 = st24_1.isdisjoint(st24_2)

print("Are the sets disjoint ", st24)

Are the sets disjoint  True

In [45]:
"""25. Create a set of squares of numbers from 1 to 5."""

st25 = set()
for m in range(1, 6):
    sq = m ** 2
    st25.add(sq)
print(st25)

{1, 4, 9, 16, 25}

In [47]:
"""26. Filter out all even numbers from a set."""

st26 = {1, 2, 3, 4, 5}
even = set()
for n in st26:
    if n % 2 == 0:
        even.add(n)

print("Original Set ", st26)
print("Even Numbers Set ", even)

Original Set  {1, 2, 3, 4, 5}
Even Numbers Set  {2, 4}

In [51]:
"""27. Multiply all elements in a set by 2."""

st27 = {1, 2, 3, 4}
st27_mul = set()

for n in st27:
    num = n * 2
    st27_mul.add(num)

print("Original Set ", st27)
print("Multiplied Set ", st27_mul)

Original Set  {1, 2, 3, 4}
Multiplied Set  {8, 2, 4, 6}

In [53]:
"""28. Create a set of random numbers."""

import random
s = 5
st28 = set()

for i in range(s): 
    num = random.randint(1, 100)
    st28.add(num)

print("Generated set of random numbers ",st28)

Generated set of random numbers  {72, 10, 77, 27, 29}

In [54]:
"""29. Check if a set is empty."""

st29 = set()
if not st29:
    print("set is empty ")
else:
    print("set is not empty ")

set is empty

In [59]:
"""30. Create a nested set (hint: use frozenset)."""

st30_1 = {1, 3, 5}
st30_2 = {6, 8, 10}

st30_f1 = frozenset(st30_1)
st30_f2 = frozenset(st30_2)

st30 = {st30_f1, st30_f2}
print("Nested Set ", st30)

Nested Set  {frozenset({1, 3, 5}), frozenset({8, 10, 6})}

In [72]:
"""31. Remove an element from a set using the discard method."""

my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.discard(element_to_remove)

print("Set after removing element", element_to_remove, "-", my_set)

Set after removing element 3 - {1, 2, 4, 5}

In [75]:
"""32. Compare two sets."""
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Is set1 a subset of set2 - ", is_subset)
print("Is set2 a subset of set1 - " , is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Is set1 a subset of set2 -  False
Is set2 a subset of set1 -  False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [79]:
"""33. Create a set from a string."""

input_string = "shubhendu"
char_set = set(input_string)
print(char_set)

{'s', 'n', 'u', 'd', 'b', 'h', 'e'}

In [83]:
"""34. Convert a set of strings to a set of integers."""


set34 = {"456","789","123"}
integer_set = set()
for s in set34:
    integer_value = int(s)
    integer_set.add(integer_value)
    
print("Converted Integer Set:", integer_set)

Converted Integer Set: {456, 123, 789}

In [84]:
"""35. Convert a set of integers to a set of strings."""

integers_set = {1, 2, 3, 4, 5}
strings_set = set()

for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
    
print("Converted strings_set:", strings_set)

Converted strings_set: {'5', '2', '3', '4', '1'}

In [85]:
"""36. Create a set from a tuple."""

input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [86]:
"""37. Convert a set to a tuple."""

input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Converted tuple:", output_tuple)

Converted tuple: (1, 2, 3, 4, 5)

In [87]:
"""38. Find the maximum value in a set."""

set38 = {15, 7, 22, 13, 8}
maxv = None
for n in set38:
    if maxv is None or n > maxv:
        maxv = n  

print("Maximum value:", maxv)

Maximum value: 22

In [88]:
"""39. Find the minimum value in a set."""

set39 = {15, 7, 22, 13, 8}
minv = None
for n in set39:
    if minv is None or n < minv:
        minv = n  

print("Maximum value:", minv)

Maximum value: 7

In [90]:
"""40. Create a set from user input."""


user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input(" ")  
    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
 shubh
 shubhendu
 hello
 sir
 done
Final set: {'hello', 'shubh', 'sir', 'shubhendu'}

In [91]:
"""41. Check if the intersection of two sets is empty."""

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [98]:
"""42. Create a set of the first 5 Fibonacci numbers."""


fibonacci_set = set()
a, b = 0, 1
for i in range(6):
    fibonacci_set.add(a)
    
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [99]:
"""43. Remove duplicates from a list using sets."""

original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("List with Duplicates Removed:", unique_list)

List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [102]:
"""44. Check if two sets have the same elements, regardless of their count."""

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

sorted_list1 = sorted(list(set1))
sorted_list2 = sorted(list(set2))

result = sorted_list1 == sorted_list2

print("The sets have the same elements - ",result)

The sets have the same elements -  True

In [110]:
"""45. Create a set of the first `n` powers of 2 """

n = 5
powers_of_2 = set()
for i in range(n):
    power = 2 ** i
    powers_of_2.add(power)

powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [111]:
"""46. Find the common elements between a set and a list."""

set46 = {3, 7, 9, 12, 15}
list46 = [7, 12, 5, 9]
listToSet = set(list46)

common_elements = []

for ele in set46:
    if ele in listToSet:
        common_elements.append(ele)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [112]:
"""47. Create a set of the first `n` triangular numbers."""

def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number) 
    return triangular_numbers

n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 8
The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

In [113]:
"""48. Check if a set contains another set as a subset."""


set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [121]:
"""49. Create a set of alternating 1s and 0s of length `n`."""

def create_alternating_set(n):
    alternating_set = set()

    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

In [122]:
"""50. Merge multiple sets into one."""

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}